# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Ignore renren open source files when statistical analysising
renren-fast/* linguist-vendored
renren-generator/* linguist-vendored